depth_edge_model_ckpt: checkpoints/edge-model.pth
depth_feat_model_ckpt: checkpoints/depth-model.pth
rgb_feat_model_ckpt: checkpoints/color-model.pth
MiDaS_model_ckpt: MiDaS/model.pt
fps: 40
x_shift_range: [0.00, 0.00, -0.02, -0.02, 0.00]
y_shift_range: [0.00, 0.00, -0.02, -0.00, 0.00]
z_shift_range: [-0.05, -0.05, -0.07, -0.07, 0.00]
traj_types: ['double-straight-line', 'double-straight-line', 'circle', 'circle', 'control']
video_postfix: ['dolly-zoom-in', 'zoom-in', 'control']
specific: ''
longer_side_len: 960
src_dir: vids/input/frames
tgt_dir: vids/estimates
load_ply: False
save_ply: True
inference_video: True
gpu_ids: 0
offscreen_rendering: False
img_format: '.jpg'
depth_threshold: 0.04
ext_edge_threshold: 0.002
sparse_iter: 5
filter_size: [7, 7, 5, 5, 5]
sigma_s: 4.0
sigma_r: 0.5
redundant_number: 12
background_thickness: 70
context_thickness: 140
background_thickness_2: 70
context_thickness_2: 70
discount_factor: 1.00
log_depth: True
largest_size: 512
depth_edge_dilate: 10
depth_edge_dilate_2: 5
extrapolate_border: True
extrapolation_thickness: 60
repeat_inpaint_edge: True
crop_border: [0.03, 0.03, 0.05, 0.03]
anti_flickering: True
verbose: False
server: False
inv_depth: True
depth_rescale: 3.0
save_vid_dir: vids/output
fps: 24
vid_format: .mp4
vid_types: ['zoom-in']
vid_folder: video-frames
input_dir: vids/input
completed_dir: vids/post
